h1
{
    color: rgb(94, 134, 194);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body
{
    background-color: rgb(236, 236, 192);
}

ul
{
    color: rgb(94, 105, 97);
}
a
{
    color: rgb(105, 129, 129);
}