h1
{
    color: rgb(94, 134, 194);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body
{
    background-color: rgb(236, 236, 192);
}
p
{
    background-color: rgba(198, 247, 226, 0.938);
}
ul
{
    color: rgb(154, 154, 248);
}
